.buttonModal {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

.cardButton {
  display: flex;
  justify-content: center;
}

.cardHeader {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cardContent {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  min-height: 150px;
  min-width: 600px;
  margin: 10px;
}

.cardCointainer {
  display: flex;
  justify-content: center;
}
